<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Site</title>
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link rel="stylesheet" href="/style/app.css">
</head>
<body>
    <div class="ui  inverted  menu">
        
        <div class="ui container" >
        <a class="item" href="/"><i id="iconwe" class="tree icon"></i>Blog Site</a>
        <a class="item" href="/">Home</a>
        <a class="item" href="/blog/new">New Post</a>
    
          </div>
      </div>
     
